@model Grade

@{
    ViewData["Title"] = "Register New Grade";
    Layout = "_DashboardLayout";

    if (TempData != null)
    {
        <div class="label text-danger">
            @TempData["error"]
        </div>
    }
}
<div class="container">
    <h2 style="text-align:center; color:red;">Create New Class</h2>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="card-header">
                        <button type="submit" class="btn btn-success float-right"><i class="fas fa-floppy-disk"> </i> Save</button>
                        <a class="btn btn-secondary" asp-action="Index"> <i class="fas fa-arrow-back"></i> Back</a>
                    </div>
                    <input asp-for="CreatedBy" type="hidden" value="@User.Identity.Name" />
                    <input asp-for="CreatedOn" type="hidden" value="@DateTime.Now" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="file" accept=".jpeg,.jpg,.png" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" placeholder=" CS-15" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GradeText" class="control-label"></label>
                        <input asp-for="GradeText" class="form-control" placeholder=" Class 5" />
                        <span asp-validation-for="GradeText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        @{
                            var selectList = User.IsInRole("Admin") ? Html.GetEnumSelectList<Status>() : new SelectList(Enum.GetValues(typeof(Status)).Cast<Status>().Where(s => s == Status.Inactive));
                        }
                        <select asp-for="Status" class="form-control" asp-items="selectList"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" placeholder="Class 5 Details"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success float-right"><i class="fas fa-floppy-disk"></i> Save</button>
                        <a class="btn btn-secondary" asp-action="Index"> <i class="fas fa-arrow-back"></i> Back</a>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>