<div style='color: #1a5276; font-size:12em; width:1000px; margin-left:0.2in; margin-right:0.2in;'>

    <span>(c) ExamSystem, Inc. All Rights Reserved.</span>
    <span style='float:right'>Generated on <span class='date'></span></span>
</div>