@model IEnumerable<ExamSystem.Models.Books>


@if (Model != null)
{

    <div class="container">
        <br>
        <div class="row">
            <div class="feature-content">
                <!-- Feature Title -->
                <h2>
                    Increase your knowledge by reading multiple online <a asp-controller="Book" asp-action="Index">Books</a> resources 
                </h2>
                <!-- Feature Description -->
                <p>
                    Our website offers a vast library of free online books that cater to a variety of 
                    interests and educational needs. You can enrich your general knowledge with our 
                    collection of books spanning numerous topics. For students of Allama Iqbal Open 
                    University (AIOU), we have a dedicated section that includes course-related books 
                    and resources. Our Stories section will take you on fascinating journeys through 
                    fictional worlds, while the Islamic literature section offers insightful content on 
                    various aspects of Islam. English literature enthusiasts will find a treasure trove 
                    of classic and contemporary works. For those preparing for public service examinations,
                    our collection of preparatory materials can be a valuable resource. We believe in the 
                    power of reading and aim to make it accessible to everyone. Enjoy exploring our diverse
                    collection! 😊
                </p>
            </div>
        </div>

        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Count(); i += 3)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <div class="row">
                                @for (int j = 0; j < 3 && i + j < Model.Count(); j++)
                                {
                                    var item = Model.ElementAt(i + j);
                                    <div class="col-md-4">
                                        <partial name="_IndividualBookView" model="item" />
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
}
else
{
    <h4 class="mt-4 mb-5"><strong>No Data found</strong></h4>
}


@section Scripts{
    <script>
       
    </script>
}