@{
    ViewData["Title"] = "Paper View";
    Layout = "_DashboardLayout";

}

<div class="text-warning">
    <p><strong>Sorry</strong>, the daily limit has been reached.</p>
    <p>Please come back tomorrow.</p>
</div>
