@inject UserManager<ApplicationUser> userManager;

<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logo" width="100%" height="150px" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item @@home">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <span><i class="ti-home"></i></span>Home
                    </a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="#">Decoration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="SED" asp-action="Index">SED</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="StudyMaterial" asp-action="Index9">9th</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="StudyMaterial" asp-action="Index10">10th</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle">School Corner</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Notes9th">Decoration</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Pastpapers9th">Events</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Books9th">Management</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle">Teacher Corner</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Notes10th">Teachers Diary</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Pastpapers10th">Helping Books</a></li>
                        <li><a class="dropdown-item" asp-controller="SED" asp-action="Index">Orders and Notifications</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Syllabus10th">Syllabus and Calanders</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle">Student Corner</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Notes10th">Helping Books</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Pastpapers10th">Past Papers</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Books10th">Speaches</a></li>
                        <li><a class="dropdown-item" asp-controller="StudyMaterial" asp-action="Syllabus10th">Results</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Books" asp-action="Index">Books</a>
                    @*<ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Books" asp-action="aiou">AIOU</a></li>
                        <li><a class="dropdown-item" asp-controller="Books" asp-action="GN">General Knowledge</a></li>
                        <li><a class="dropdown-item" asp-controller="Books" asp-action="Syllabus">Syllabus Books</a></li>
                    </ul>*@
                </li>
                <!-- Render the partial View based on the authentication and authorization-->
                <!-- If User is not registered-->
                
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            Hello! @userManager.GetUserName(User)
                            <span><i class="ti-angle-down"></i></span>
                        </a>
                        <!-- Account Dropdown list -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@userManager.GetUserId(User)">Profile</a></li>
                            <li>
                                <form class="dropdown-item " asp-controller="Account" asp-action="Logout">
                                    <button style="background-color: transparent;border: none;padding: 0px 0px;margin: 0px 0px;cursor: pointer;">
                                        Log out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Sign in</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
               
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    </li>
                    
                }
            </ul>

        </div>
        
    </div>
</nav>



