@{
    ViewData["Title"] = "Success";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h2 class="h2"> Task Completed Successfully </h2>
        </p>
        <p> Go to <a asp-controller="Home" asp-action="Index">Home</a></p>
    </div>
</div>