@model IEnumerable<ExamSystem.Models.Uploads>
@{
    ViewData["Title"] = "All school managements by " + @userManager.GetUserName(User);
    Layout = "_DashboardLayout";
}


@if (Model != null)
{
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Corner" asp-action="Create" class="btn btn-primary float-right"> <i class="fas fa-plus-circle"></i> Upload File</a>
        }

    </div>
    <br />

    <div class="container">
        <div class="text-center">
            <button class="btn btn-dark filter-button" data-filter="all">All</button>
            @foreach (var obj in Enum.GetNames(typeof(ManageEnum)))
            {
                <button class="btn btn-outline-primary filter-button" data-filter="@Enum.Parse(typeof(ManageEnum), obj)"> @obj</button> <!--obj.Code.Replace(' ','_')-->
            }
        </div>
        <br>
        <div class="row">
            @foreach (var item in Model)
            {
                // partial view of all SED files based on Code
                <partial name="_IndividualUploadView" model="item" />
            }
        </div>
    </div>

}
else
{
    <h4 class="mt-4 mb-5"><strong>No File found</strong></h4>
}


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $('.filter').not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        });
    </script>
}
