@model TopicsVM

@{
    ViewData["Title"] = "Delete Unit";
    Layout = "_DashboardLayout";
}

<div class="container">
    <h2 style="text-align:center; color:red;">Delete Unit</h2>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="tblData" class="table table-bordered table-hover">
                    <form asp-action="Delete">
                        <div class="form-group">
                            <button type="submit" value="Delete" class="btn btn-danger float-right"><i class="fas fa-trash"></i> Delete</button>
                            <a class="btn btn-secondary" asp-action="TopicsList" asp-route-id="@Model.SubjectId"> <i class="fas fa-back-arrow"></i> Back</a>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" />
                        <input asp-for="SubjectId" type="hidden" value="@Model.SubjectId" />
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TopicText" class="control-label"></label>
                            <input asp-for="TopicText" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="TopicText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedOn" class="control-label"></label>
                            <input asp-for="CreatedOn" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="CreatedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label"></label>
                            <input asp-for="CreatedBy" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdatedOn" class="control-label"></label>
                            <input asp-for="UpdatedOn" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdatedBy" class="control-label"></label>
                            <input asp-for="UpdatedBy" class="form-control" disabled="disabled"/>
                            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Delete" class="btn btn-danger float-right" ><i class="fas fa-trash"></i> Delete</button>
                            <a class="btn btn-secondary" asp-action="TopicsList" asp-route-id="@Model.SubjectId"> <i class="fas fa-back-arrow"></i> Back</a>
                        </div>
                    </form>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
