@model QuestionVM
@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="container">
    <h2 style="text-align:center; color:red;">Update Question</h2>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <form asp-action="edit" method="post">
                    <!-- Hidden Fields-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="UpdatedBy" type="hidden" value="@User.Identity.Name" />
                    <input asp-for="UpdatedOn" type="hidden" value="@DateTime.Now.Date" />
                    @*<input asp-for="Code" type="hidden" value="QCode" />*@

                    <!--Question info-->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <label asp-for="QuestionType" class="control-label"></label>
                            <select id="QType" asp-for="QuestionType" class="form-control"  asp-items="Html.GetEnumSelectList<QuestionTypes>()"><option selected disabled>---Select Type---</option></select>
                            <span asp-validation-for="QuestionType" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <label asp-for="Status" class="control-label"></label>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <select asp-for="Status" class="form-control"
                                        asp-items="@(User.IsInRole("Admin") ? Html.GetEnumSelectList<Status>() : null)">
                                    @if (!User.IsInRole("Admin"))
                                    {
                                        <option selected disabled value="1">Pending</option>
                                    }
                                </select>
                            }
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <label asp-for="DifficultyLevel" class="control-label"></label>
                            <select asp-for="DifficultyLevel" class="form-control" asp-items="Html.GetEnumSelectList<DifficultyLevel>()"></select>
                            <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
                        </div>
                    </div>
                    <hr style="background-color: white; height: 1px; border: 0;" />
                    <!-- Question Section-->
                    <div id="question" class="table  table-hover">
                        <div class="row"><h5>Question Statement</h5></div>
                        <div class="row">
                            <div class=" col-lg-2 col-md-2 col-sm-12 col-12"> Question</div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12 ">
                                <input asp-for="QuestionText" class="form-control" placeholder="Question in English" />
                                <span asp-validation-for="QuestionText" class="text-danger"></span>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12 ">
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">
                                    <input asp-for="QuestionTextL" class=" form-control" dir="rtl" placeholder="سوال اردو میں " />
                                </span>
                                <span asp-validation-for="QuestionTextL" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: white; height: 1px; border: 0;" />
                    <!-- Choice section-->
                    <div id="choice" class="row">
                        <div class="table  table-hover">
                            <div class="row">
                                <h5>Select the Answer</h5>
                                <h5 class="ml-5 pl-5">Enter the choices</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-1">
                                    <input asp-for="CorrectAnswer" type="radio" id="option1" name="option" value="1" />
                                    <label for="option1">Option 1</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <input asp-for="ChoiceTitle1" class="form-control" maxlength="100" placeholder="Option 1 in English" />
                                    <span asp-validation-for="ChoiceTitle1" class="text-danger"></span>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <span style="font-family:'Jameel Noori Nastaleeq' !important; font-size:large;">
                                        <input asp-for="CorrectAnswerL" type="radio" id="optionL1" name="optionl" value="1" hidden />
                                        <input asp-for="ChoiceTitleL1" class="form-control" maxlength="100" dir="rtl" placeholder="پہلا انتخاب اردو میں " />
                                    </span>
                                    <span asp-validation-for="ChoiceTitleL1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-1">
                                    <input asp-for="CorrectAnswer" type="radio" id="option2" name="option" value="2" />
                                    <label for="option2">Option 2</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <input asp-for="ChoiceTitle2" class="form-control" maxlength="100" placeholder="Option 2 in English" />
                                    <span asp-validation-for="ChoiceTitle2" class="text-danger"></span>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <span style="font-family:'Jameel Noori Nastaleeq' !important;">
                                        <input asp-for="CorrectAnswerL" type="radio" id="optionL2" name="optionl" value="2" hidden />
                                        <input asp-for="ChoiceTitleL2" class="form-control" maxlength="100" dir="rtl" placeholder="انتخاب 2 اردو میں " />
                                    </span>
                                    <span asp-validation-for="ChoiceTitleL2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-1">
                                    <input asp-for="CorrectAnswer" type="radio" id="option3" name="option" value="3" />
                                    <label for="option3">Option 3</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <input asp-for="ChoiceTitle3" class="form-control" maxlength="100" placeholder="Option 3 in English" />
                                    <span asp-validation-for="ChoiceTitle3" class="text-danger"></span>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <span style="font-family:'Jameel Noori Nastaleeq' !important;">
                                        <input asp-for="CorrectAnswerL" type="radio" id="optionL3" name="optionl" value="3" hidden />
                                        <input asp-for="ChoiceTitleL3" class="form-control" maxlength="100" dir="rtl" placeholder="انتخاب 3 اردو میں " />
                                    </span>
                                    <span asp-validation-for="ChoiceTitleL3" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-1">
                                    <input asp-for="CorrectAnswer" type="radio" id="option4" name="option" value="4" />
                                    <label for="option4">Option 4</label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <input asp-for="ChoiceTitle4" class="form-control" maxlength="100" placeholder="Option 4 in English" />
                                    <span asp-validation-for="ChoiceTitle4" class="text-danger"></span>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12 mt-1">
                                    <span style="font-family:'Jameel Noori Nastaleeq' !important;">
                                        <input asp-for="CorrectAnswerL" type="radio" id="optionL4" name="optionl" value="4" hidden />
                                        <input asp-for="ChoiceTitleL4" class="form-control" maxlength="100" dir="rtl" placeholder="انتخاب 4 اردو میں " />
                                    </span>
                                    <span asp-validation-for="ChoiceTitleL4" class="text-danger"></span>
                                </div>
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-12 mt-1">
                                    <label asp-for="Description" class="control-label"></label>
                                </div>
                                <div class=" col-lg-10 col-md-10 col-sm-10 col-12 mt-1">
                                    <textarea asp-for="Description" class="form-control" rows="3" placeholder=" Detail of this question."></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr style="background-color: white; height: 1px; border: 0;" />
                    </div>
                    <!-- Answer section-->
                    <div id="answer" class="table  table-hover">
                        <div class="row">
                            <h5>Enter the answer</h5>
                        </div>
                        <div class="row">
                            <div class=" col-lg-2 col-md-2 col-sm-2 col-12">Answer</div>
                            <div class=" col-lg-5 col-md-5 col-sm-5 col-12">
                                <textarea asp-for="CorrectAnswer" class="form-control" rows="3" placeholder="Answer in English"></textarea>
                                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
                            </div>
                            <div class=" col-lg-5 col-md-5 col-sm-5 col-12">
                                <span style="font-family:'Jameel Noori Nastaleeq' !important;">
                                    <textarea asp-for="CorrectAnswerL" class="form-control" rows="3" dir="rtl" placeholder="جواب اردو میں "></textarea>
                                </span>
                                <span asp-validation-for="CorrectAnswerL" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: white; height: 1px; border: 0;" />
                    <!-- Meta section-->
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success float-right"><i class="fas fa-floppy-disk"></i> Update</button>
                            <a asp-controller="Question" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts{
    <script>
        // script code for Question Type DDL
        $(function () {
            $('#QType').change(function () {
                var value = $(this).val();
                if (value == '0') {
                    $('#choice').show();
                    $('#answer').hide();
                } else {
                    $('#choice').hide();
                    $('#answer').show();
                }
            });
        });

        // script for radio buttons answers on mcqs

        $(document).ready(function () {
            $('#answer').hide();
            $("#option1").click(function () {
                $("#optionL1").prop("checked", true);
                $("#optionL2").prop("checked", false);
                $("#optionL3").prop("checked", false);
                $("#optionL4").prop("checked", false);
            });
            $("#option2").click(function () {
                $("#optionL1").prop("checked", false);
                $("#optionL2").prop("checked", true);
                $("#optionL3").prop("checked", false);
                $("#optionL4").prop("checked", false);
            });
            $("#option3").click(function () {
                $("#optionL1").prop("checked", false);
                $("#optionL2").prop("checked", false);
                $("#optionL3").prop("checked", true);
                $("#optionL4").prop("checked", false);
            });
            $("#option4").click(function () {
                $("#optionL1").prop("checked", false);
                $("#optionL2").prop("checked", false);
                $("#optionL3").prop("checked", false);
                $("#optionL4").prop("checked", true);
            });
        });

        // Script Code for Grade, Subject and Topic DDL
        $(document).ready(function () {
            // grades comes from ViewBag.Grades

            // on change of gradeDDL                //code ok
            $('#GradeDDL').change(function () {
                var id = $(this).val();
                $('#SubjectDDL').empty();
                $('#SubjectDDL').append("<option>--Select Subject--</option>");
                $.ajax({
                    url: '/question/Subject?id=' + id,
                    success:
                        function (responce) {
                            $.each(responce, function (i, data) {
                                $('#SubjectDDL').append("<option value=" + data.id + ">" + data.subjectText + "</option>");
                            });

                        }
                });
            });
            // on change of SubjectDDL
            $('#SubjectDDL').change(function () {
                var id = $(this).val();
                $('#TopicDDL').empty();
                $('#TopicDDL').append("<option>--Select Topic--</option>");
                $.ajax({
                    url: '/question/Topic?id=' + id,
                    success:
                        function (responce) {
                            console.log(responce.data)
                            $.each(responce, function (i, data) {
                                $('#TopicDDL').append("<option value=" + data.id + ">" + data.topicText + "</option>");
                            });
                        }
                });
            });
        });

    </script>
    }