@{
    ViewData["Title"] = "FAQs";
}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>@ViewData["Title"]</h1>
                <!-- Page Description -->
                <p>
                    Following are the frequently asked questions by the Users
                </p>
            </div>
        </div>
    </div>
</section>

<!--====  End of Page Title  ====-->
<!--=================================
=            FAQ Section            =
==================================-->
<section class="faq section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block shadow">
                    <!-- Getting Started -->
                    <div class="faq-item">
                        <!-- Title -->
                        <div class="faq-item-title">
                            <h2>
                                Getting Started
                            </h2>
                        </div>
                        <!-- Get Started Accordion -->
                        <div id="gstAccordion" data-children=".item">
                            <!-- Accordion Item 01 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion1">
                                        What is OPEGS stands for?
                                    </a>
                                </div>
                                <div id="gstAccordion1" class="collapse show accordion-block">
                                    <p>
                                        OPEGS is an Online Exam and Paper Generation system designed to help teachers generate exam papers with a single click and provide students with access to study materials, helping books, and quizzes.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 02 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion2">
                                        How does the exam paper generation feature work?
                                    </a>
                                </div>
                                <div id="gstAccordion2" class="collapse accordion-block">
                                    <p>
                                        Teachers can create exam papers by selecting the desired subjects, topics, and question types. The system will then generate a customized exam paper based on the selected criteria, saving teachers time and effort.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 03 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion3">
                                        Who can upload study materials, helping books, charts, decorations, PDFs, and questions?
                                    </a>
                                </div>
                                <div id="gstAccordion3" class="collapse accordion-block">
                                    <p>
                                        Only authorized teachers and administrators can upload content to the platform. Students can access and use the materials uploaded by teachers for their study and preparation.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 04 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion4">
                                        Can students generate their exam papers?
                                    </a>
                                </div>
                                <div id="gstAccordion4" class="collapse accordion-block">
                                    <p>
                                        No, students cannot generate exam papers. Only teachers have the ability to create and customize exam papers using our platform. But students may take online quizzes to test their knowledge.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 05 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion5">
                                        How can students access quizzes?
                                    </a>
                                </div>
                                <div id="gstAccordion5" class="collapse accordion-block">
                                    <p>
                                        Students can access quizzes generated by the system through their accounts. They can take quizzes based on the subjects and topics available on the platform.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 06 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#gstAccordion" href="#gstAccordion6">
                                        How often is the content on OPEGS updated?
                                    </a>
                                </div>
                                <div id="gstAccordion6" class="collapse accordion-block">
                                    <p>
                                        The content on our platform, including study materials, helping books, and quizzes, is regularly updated by our authorized teachers and administrators to ensure relevance and accuracy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Account Accordion -->
                    <div class="faq-item">
                        <!-- Title -->
                        <div class="faq-item-title">
                            <h2>
                                Account
                            </h2>
                        </div>
                        <!-- Account Accordion -->
                        <div id="accountAccordion" data-children=".item">
                            <!-- Accordion Item 01 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion1">
                                        Is my personal information secure on OPEGS.com?
                                    </a>
                                </div>
                                <div id="accountAccordion1" class="collapse accordion-block">
                                    <p>
                                        Yes, we take the security of your personal information seriously and employ measures to protect it from unauthorized access, alteration, disclosure, or destruction. However, it's essential to follow best practices for password security and not share your login credentials with others.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 02 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion2">
                                        How long do you retain my personal information?
                                    </a>
                                </div>
                                <div id="accountAccordion2" class="collapse accordion-block">
                                    <p>
                                        We retain your personal information for as long as necessary to fulfill the purposes outlined in our Privacy Policy, unless a longer retention period is required or permitted by law.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 03 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion3">
                                        Can I request the deletion of my account and personal information?
                                    </a>
                                </div>
                                <div id="accountAccordion3" class="collapse accordion-block">
                                    <p>
                                        Yes, you can request the deletion of your account and personal information by contacting us at <a class="link" href="https://localhost:7278/Home/Contact">Contact us</a> page. Please note that deleting your account may result in the loss of access to certain features and materials on the platform.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 04 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion4">
                                        What should I do if I encounter technical issues or have questions about using the platform?
                                    </a>
                                </div>
                                <div id="accountAccordion4" class="collapse accordion-block">
                                    <p>
                                        If you experience technical issues or have questions about using our platform, please contact our support team at Contact Us page. We're here to help!
                                    </p>
                                </div>
                            </div>
                            @* <!-- Accordion Item 05 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#accountAccordion" href="#accountAccordion5">
                                        How often is the content on OPEGS.com updated?
                                    </a>
                                </div>
                                <div id="accountAccordion5" class="collapse accordion-block">
                                    <p>
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    </p>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <!-- Pricing & License Accordion -->
                    <div class="faq-item">
                        <!-- Title -->
                        <div class="faq-item-title">
                            <h2>
                                Pricing & Subscriptions
                            </h2>
                        </div>
                        <!-- Account Accordion -->
                        <div id="plAccordion" data-children=".item">
                            <!-- Accordion Item 01 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion1">
                                        How do I subscribe to opegs.com?
                                    </a>
                                </div>
                                <div id="plAccordion1" class="collapse accordion-block">
                                    <p>
                                        To subscribe to OPEGS.com, simply sign up for an account and choose a subscription plan that best suits your needs. Follow the prompts to complete the subscription process and make the necessary payment.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 02 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion2">
                                        What subscription plans are available?
                                    </a>
                                </div>
                                <div id="plAccordion2" class="collapse accordion-block">
                                    <p>
                                        We offer different subscription plans with varying features and benefits for teachers and students. Please visit our pricing page to view the available plans and their respective costs.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 03 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion3">
                                        How can I update or change my subscription plan?
                                    </a>
                                </div>
                                <div id="plAccordion3" class="collapse accordion-block">
                                    <p>
                                        You can upgrade, downgrade, or change your subscription plan by logging into your account, navigating to the subscription or billing section, and following the instructions to modify your plan.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 04 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion4">
                                        How does the billing cycle work?
                                    </a>
                                </div>
                                <div id="plAccordion4" class="collapse accordion-block">
                                    <p>
                                        Our billing cycle is based on the subscription plan you choose. You will be billed either monthly or annually, depending on your selected plan. The billing cycle starts on the day you subscribe and recurs on the same day each month or year.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 05 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion5">
                                        What payment methods do you accept?
                                    </a>
                                </div>
                                <div id="plAccordion5" class="collapse accordion-block">
                                    <p>
                                        We accept various payment methods, including credit/debit cards and online payment gateways such as bank transfer, easypaisa, and jazzcash. Please ensure that your preferred payment method is valid and up-to-date to avoid any billing issues.
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion Item 06 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion6">
                                        Can I cancel my subscription?
                                    </a>
                                </div>
                                <div id="plAccordion6" class="collapse accordion-block">
                                    <p>
                                        Yes, you can cancel your subscription at any time by logging into your account, navigating to the subscription or billing section, and following the instructions to cancel your plan. Please note that cancelling your subscription may result in the loss of access to certain features and materials on the platform.
                                    </p>
                                </div>
                            </div>

                            <!-- Accordion Item 07 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion7">
                                        Will I receive a refund if I cancel my subscription?
                                    </a>
                                </div>
                                <div id="plAccordion7" class="collapse accordion-block">
                                    <p>
                                        We do not offer refunds for cancelled subscriptions. However, you will continue to have access to the platform until the end of your current billing cycle, after which your subscription will be terminated.
                                    </p>
                                </div>
                            </div>

                            <!-- Accordion Item 08 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion8">
                                        How can I update my billing information?
                                    </a>
                                </div>
                                <div id="plAccordion8" class="collapse accordion-block">
                                    <p>
                                        You can update your billing information by logging into your account, navigating to the billing section, and updating your payment details. Please ensure that your billing information is accurate and up-to-date to avoid any payment issues.
                                    </p>
                                </div>
                            </div>

                            <!-- Accordion Item 09 -->
                            <div class="item">
                                <div class="item-link">
                                    <a data-toggle="collapse" data-parent="#plAccordion" href="#plAccordion9">
                                        What should I do if I encounter billing issues or have questions about my subscription?
                                    </a>
                                </div>
                                <div id="plAccordion9" class="collapse accordion-block">
                                    <p>
                                        If you experience billing issues or have questions about your subscription, please contact our billing support team at Contact Us page. We're here to assist you with any concerns or queries you may have.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Getting Started Accordion -->
            </div>
        </div>
    </div>
</section>
<!--====  End of FAQ Section  ====-->
