@{
    ViewData["Title"] = "Home Page";
}


<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
    <div class="shapes-container">
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
        <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
        <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <!-- Slider here -->
            @*@await Component.InvokeAsync("Home")
            @*<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                <h1 class="text-white font-weight-bold mb-4">Online Paper and Exam Generation System (OPEGS).</h1>
                <p class="text-white mb-5">
                    Generate online papers and download them for exam by just 1 click.
                </p>
                <a href="FAQ.html" class="btn btn-main-md">Download Now</a>
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <img class="img-fluid" src="~/images/mobile.png" alt="screenshot">
            </div>*@
        </div>
    </div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-files text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Save Time and Effort</h3>
                    <p class="regular text-muted">
                        Our OPEGS software simplifies the process of crafting custom question papers for educators in schools, colleges, and institutes. It streamlines the creation of question papers by automating tasks such as question selection, paper formatting, and answer key generation. This automation translates to substantial time and effort savings, eliminating the need for labor-intensive manual paper creation.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-marker-alt text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Improves Quality of Assessments</h3>
                    <p class="regular text-muted">
                        Our OPEGS software grants access to an extensive repository of questions, empowering schools, colleges, institutes, and university educators to craft comprehensive and rigorous assessments. This accessibility facilitates efficient question paper creation, enabling educators to construct tests that genuinely evaluate students' knowledge and abilities. Consequently, this approach leads to more precise assessments of students' comprehension of the subject matter.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                    <i class="ti-book text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Tailoring Assessments with Ease</h3>
                    <p class="regular text-muted">
                        Our OPEGS software empowers educators to personalize question papers to align with their precise needs. This encompasses the flexibility to adjust difficulty levels, question quantity, question types, and more. This customization guarantees that assessments are finely tuned to meet the unique demands of students in schools, colleges, institutes, and universities, as well as the specific course content being
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-paint-bucket text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 "><a asp-controller="Paper" asp-action="UserPapers">1 click Papers Generations</a></h3>
                    <p class="regular text-muted">
                        1 Click paper generation is a revolutionary tool that simplifies and expedites the process of creating academic papers, reports, and documents. With just a single click, users can effortlessly generate well-structured and professional-looking papers, eliminating the need for time-consuming formatting and manual document assembly. This innovative technology streamlines the entire document creation process, from layout design to content integration, allowing individuals to focus on their core research and content rather than wrestling with formatting intricacies.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-shine text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Multi Versions</h3>
                    <p class="regular text-muted">
                        Multiversion paper generation with question shuffling is a powerful tool that introduces a dynamic and innovative approach to assessments and document creation. This feature enables users to effortlessly produce multiple versions of papers, with questions randomized or shuffled across each iteration. It serves as an effective means for educators to discourage cheating and promote fair evaluation, as each student receives a unique set of questions. Furthermore, it enhances the adaptability of assessments, allowing educators to tailor tests to varying skill levels or different audiences while maintaining a consistent format. This functionality not only saves time but also ensures that assessments remain challenging and unbiased, making it an invaluable resource in the realm of education and content creation.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                    <i class="ti-pencil-alt text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Export papers in pdf</h3>
                    <p class="regular text-muted">
                        Exporting papers in PDF format is a crucial feature for document management and sharing. PDF, or Portable Document Format, ensures that your papers retain their formatting and appearance across different devices and platforms. This format is widely accepted in academia, business, and various industries, making it a convenient choice for creating professional documents. With the ability to export papers as PDFs, users can easily share their work with colleagues, students, or clients, confident that the content will remain intact and accessible, regardless of the recipient's device or software.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Books")
            @*<div class="col-lg-6 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                @*<div class="image-content" data-aos="fade-right">
                    <img class="img-fluid" src="~/images/feature/feature-new-01.jpg" alt="iphone">
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>
                        Reduces Errors
                    </h2>
                    <!-- Feature Description -->
                    <p class="desc">
                        The Automatic Question Paper Generator Software significantly reduces the likelihood of errors by
                        automating the question paper creation process for students in schools, colleges, and institutes.
                        Consequently, educators face fewer challenges related to formatting, question selection, and answer
                        key generation, resulting in substantial time and effort savings that would otherwise be consumed by error correction.
                    </p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
                        place."
                    </p>
                    <ul class="list-inline meta">
                        <li class="list-inline-item">
                            <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="">
                        </li>
                        <li class="list-inline-item">Jonathon Andrew </li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</section>

<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            <!-- get the partial viwe of Corner controller student Corner-->
            @*@Html.Action("Decorate", "CornerController");*@
            @await Component.InvokeAsync("Decorate")
            @*<div class="col-lg-6 ml-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>
                        Increase your productivity with <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a>
                    </h2>
                    <!-- Feature Description -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
                        place."
                    </p>
                    <ul class="list-inline meta">
                        <li class="list-inline-item">
                            <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="">
                        </li>
                        <li class="list-inline-item">Jonathon Andrew , Themefisher.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mr-auto justify-content-center">
                <!-- Feature mockup -->
                <div class="image-content" data-aos="fade-left">
                    <img class="img-fluid" src="~/images/feature/feature-new-02.jpg" alt="ipad">
                </div>
            </div>*@
        </div>
    </div>
</section>
<!--====  End of Feature Grid  ====-->
<!--==============================
=            Services            =
===============================-->
<section class="service section bg-gray">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Features</h2>
                    <p>
                        Key features of the OPEGS system.
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col mr-auto align-self-center">
                <div class="service-box">
                    <div class="row align-items-center">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-bookmark"></i>
                                <!-- Heading -->
                                <h3>Select Conduct Date and Time</h3>
                                <!-- Description -->
                                <p>
                                    The registered Teacher user can choose the date and time of the paper for examination i.e morning, evening.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-pulse"></i>
                                <!-- Heading -->
                                <h3>Customize Marks and quantity</h3>
                                <!-- Description -->
                                <p>
                                    The registered Teacher user can customize each type of questions and their alocated marks along with the quantity on the paper.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-bar-chart"></i>
                                <!-- Heading -->
                                <h3>Select the Chapters and topics </h3>
                                <!-- Description -->
                                <p>
                                    The registered Teacher user can include or exclude the chapters and topics from a course book to create the fully customizable papers.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Secured with barcode</h3>
                                <!-- Description -->
                                <p>
                                    The generated papers are secured with barcodes and can be verified from the server any time.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Online Exam system</h3>
                                <!-- Description -->
                                <p>
                                    The Examination process can be digitalized by using the online exam system.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Online quizes</h3>
                                <!-- Description -->
                                <p>
                                    The registered Teacher user can conduct the online quizes of custom marks and test the knowledge of the students. Student prepare theirselves for upcomming exams by online test 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Resources</h3>
                                <!-- Description -->
                                <p>
                                    Thousands of digital resouces (books) are uploaded (continue) to help teachers and students 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Past Papers</h3>
                                <!-- Description -->
                                <p>Previous all board papers are uploaded and updated regularly for the ease of students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Services  ====-->
<!--=================================
=            Video Promo            =
==================================-->
<section class="video-promo section bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-block">
                    <!-- Heading -->
                    <h2>Watch Our Promo Video</h2>
                    <!-- Promotional Speech -->
                    <p>
                        Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Vivamus
                    </p>
                    <!-- Popup Video -->
                    <a data-fancybox href="https://www.youtube.com/watch?v=jrkvirglgaQ">
                        <i class="ti-control-play video"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Video Promo  ====-->
<!--=================================
=            Testimonial            =
==================================-->
<section class="section testimonial" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Testimonial Slider -->
                <div class="testimonial-slider owl-carousel owl-theme">
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="block shadow">
                            <!-- Speech -->
                            <p>
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                pretium ut lacinia in, elementum id enim.
                            </p>
                            <!-- Person Thumb -->
                            <div class="image">
                                <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                            </div>
                            <!-- Name and Company -->
                            <cite>Abraham Linkon , Themefisher.com</cite>
                        </div>
                    </div>
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="block shadow">
                            <!-- Speech -->
                            <p>
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                pretium ut lacinia in, elementum id enim.
                            </p>
                            <!-- Person Thumb -->
                            <div class="image">
                                <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                            </div>
                            <!-- Name and Company -->
                            <cite>Abraham Linkon , Themefisher.com</cite>
                        </div>
                    </div>
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="block shadow">
                            <!-- Speech -->
                            <p>
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                pretium ut lacinia in, elementum id enim.
                            </p>
                            <!-- Person Thumb -->
                            <div class="image">
                                <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                            </div>
                            <!-- Name and Company -->
                            <cite>Abraham Linkon , Themefisher.com</cite>
                        </div>
                    </div>
                    <!-- Testimonial 01 -->
                    <div class="item">
                        <div class="block shadow">
                            <!-- Speech -->
                            <p>
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                pretium ut lacinia in, elementum id enim.
                            </p>
                            <!-- Person Thumb -->
                            <div class="image">
                                <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                            </div>
                            <!-- Name and Company -->
                            <cite>Abraham Linkon , Themefisher.com</cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Testimonial  ====-->

<section class="call-to-action-app section bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>We are changing and Change is good</h2>
                <p>
                    Download our app on your favourite Device to get experience of the service.
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-apple"></i>
                            Iphone
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-android"></i>
                            Android
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-rounded-icon">
                            <i class="ti-microsoft-alt"></i>
                            Windows
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

